*{
  box-sizing: border-box;
  font-family: sans-serif;
}



.homepage-outer-wrapper {
  content:"";
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/cat-dog.jpg");
  background-position: center;
  background-size: cover;

  
}

.homepage-inner-wrapper {
  width: 30%;
  border:1px solid #ccc;
  border-radius: 8px;
  height: 500px ;
  margin: auto;
  backdrop-filter: blur(5px);
  text-align: center;
}

.header-wrapper {
  text-align: center;
}