*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  height: 100vh;
}

.homepage-outer-wrapper {
  width: 100%;
  background-color: #f0f0f0;
  padding: 50px;
  height: 80%;
  background-image: url("https://people.com/thmb/TqRgcEn65STk2WOu3f4ZWf5vBPU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(959x584:961x586)/dog-e10b5a9331054f2cafc93d2b6eec918a.jpg");
  background-repeat: no-repeat;
  background-size: cover;


  
}

.homepage-inner-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: auto;
  backdrop-filter: blur(2px);
  text-align: center;
  padding: 20px;
}

.login-signup-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.header-wrapper {
  text-align: center;
  margin: auto;
  height: 350px;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;

}
.login-modal-header {
  display: flex;
  flex-direction: column;
}



.logged-in-page {
  background:#f5f5f5;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  margin-top: 1rem;
}

.my-pets-link {
  text-decoration: none;
  margin: 10px;
  font-size: 24px;
  color: #333;
}

.my-pets-link:hover {
  color: #007bff;
}


.profile-form-wrapper {
  width: 100%;
  margin-top: 1rem;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(to bottom,#f9f9f9, #e0e0e0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0,0.1);
}

.form-label {
  font-size: 18px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.pet-page-container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  background: linear-gradient(to bottom,#fdfcfb, #e2e1e0);
  height: 450px;

}




.pet-detail-col {
  padding: 10px;
  background-color:#ffffff ;
  border: 1px solid #e0e0e0 ;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.pet-image-container {
  /* border: 1px solid red; */
  height: 200px;
  text-align: center;

}
.pet-image {
  height: 100px;
}
.add-pet-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;

}

.pet-details-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.pet-details-input-label {
 
  width: 100%;
  border: none;
}
.pet-card-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap:1rem;

}

.pet-card-container {
  height: 100vh;
}

.pet-list-container {
  
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 1rem;

}

.owned-pet-title {
  margin: auto;
  text-align: center;
  margin: 3rem;
}

.pet-card-list-container {
  
  height: 100vh;
}

.dashboard-card-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap:10px;
  overflow: scroll;
}

/* .user-card-list-wrapper.show-all {
  height: auto;

} */

.pet-card {
  padding: 10px;
}

.dashboard-sidebar {
  padding: 20px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-top: none;

}

.dashboard-content {
  display: flex;

  height: 100vh;
}

.loader-wrapper {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}


.search-profile-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin-top: 0;
}

.logout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}


.dashboard-wrapper {
  height: 100vh;
  width: 90%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.admin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #3498db;
  border-radius: 50%;
}
.title {
  font-size: 24px;
}

.admin-bottom-border {
  border-bottom: 1px solid #3498db;
  width: 100%;
  margin-left: 0;
}

.users-list {

  width: 80%;

}

.admin-title {
  font-size:18px;
  color: #3498db;

}

.basic-search {

  border-radius: 5px;
  padding: 10px;
  
}

.welcome-section {

  padding: 20px;
  margin-top: 20px;
  text-align: center;
 
}

.no-pets-heading {
  text-align: center;
  margin-top: 2rem;
}

.welcome-header {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
} 

.commitment-section {
  font-size: 1,2rem;
  color: #555;
  margin-top: 20px;
}

.title-section {
  text-align: center;
  margin-top: 3rem;
}
.search-pets-input {
  width: 50%;
  margin: auto;
}
.search-bar-wrapper {
  height: 100vh;
  /* border: 1px solid green; */
  /* display: flex;
  flex-direction: column; */
}

.search-pets-wrapper {
  display: flex;
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.login-to-search {
  text-align: center;
  color: greenyellow;
}

.owned-pet-wrapper {
  height: 100vh;
  width: 80%;
  margin: auto;
}

.nav-title {
  font-family: 'Silkscreen', sans-serif;
  font-weight: bolder;
  color: magenta;
  font-size: x-large;
}

.nav-my-pets {
  font-family: 'Rubik Moonrocks', sans-serif;
  font-weight: bolder;
  color: goldenrod;
  font-size: x-large;

}

.nav-dashboard {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(153, 255, 0);
  font-size: x-large;
}

.nav-container {
  /* border: 1px solid red; */
  width: 80%;
}


@media (max-width: 768px) {
  .header-wrapper {
    padding: 10px;
  }

  .welcome-section {
    padding: 10px;
  }

  .welcome-message {
    font-size: 1.2rem;
  }

  .commitment-section {
    font-size: 1rem;
  }
  
}


